* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:white;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-family:"Raleway";
    font-size:36px;
    font-weight:normal;
    margin-top:10%;
    margin-bottom:15%;
    overflow:visible;
    padding:0px;
    text-align:center;
  }
  
h2 {
  font-family:"Raleway";
  font-size:24px;
  font-weight:normal;
  margin-top:10%;
  margin-bottom:15%;
  overflow:visible;
  padding:0px;
  text-align:center;
}

.button {
    background-color:rgb(212,253,255);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-family:"Catamaran";
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}

#button1 {
  width: 100%;
}
#button2 {
  width: 100%;
}
#button3 {
  width: 100%;
}
#button4 {
  width: 100%;
}

.fa {
    position:relative;
    color:#8c8c8c;
}

.fa-chevron-circle-right {
    position:absolute;
    bottom:5px;
    right:5px;
}

.fa-chevron-circle-left {
    position:absolute;
    bottom:5px;
    left:5px;
}
