* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;


}

a {
  text-decoration: none;
}


.button {
    font-family: "Catamaran";
    background-color: RGB(212,253,255); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;                                  
    }

}

h1 {
    font-family:"Raleway";
    font-size:24px;
    font-weight:normal;
    margin-top:50px;
    overflow:visible;
    padding:0px;
    text-align:center;

}

.button-wrap {
    margin-top: 15%;
}

.fa {
  position:relative;
  color:#8c8c8c;
}

.fa-chevron-circle-left {
  position:absolute;
  top:5px;
  left:8px;
}
