* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgb(73,239,222);
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-family:"Raleway";
    font-size:100%;
    font-weight:normal;
    margin-top:10%;
    margin-bottom:15%;
    overflow:visible;
    padding:0px;
    text-align:center;
  }

.button {
    background-color:rgb(212,253,255); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-family:"Catamaran";
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}

#button1 {
  width: 100%;
}
#button2 {
  width: 100%;
}
#button3 {
  width: 100%;
}
#button4 {
  width: 100%;
}
#button5 {
  width: 100%;
}
