/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


/* General styling */
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

body {
  background-color: white;
  /* background: linear-gradient(to right, #392033, #fd6051, #ff8967, #fec051, #ffe577); */
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Text styling */
h1, h2 {
    font-family: "Raleway";
    font-weight: 600;
}

h3 {
    font-family: "Catamaran", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

h4, span {
  font-family: "Catamaran";
  font-weight: 300;
  font-size: 24px;
}

/* form field styling */
input {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* button styling */
.button {
  display: inline-block;
  background-color: rgb(212, 253, 255);
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
}
