h1 {
    font-family:"Raleway";
    font-size:36px;
    font-weight:normal;
    margin-top:50px;
    margin-bottom:15%;
    overflow:visible;
    padding:0px;
    text-align:center;
  }

h2 {
  font-family:"Raleway";
  font-size:22px;
  font-weight:normal;
  margin-top:10%;
  margin-bottom:15%;
  overflow:visible;
  padding:0px;
  text-align:center;
  color:#737373;
}

.button {
  display: inline-block;
  background-color: rgb(212, 253, 255);
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  font-family:"Catamaran";
}


Center {
  width:200px;
  height:200px;
  background:#0088cc;
  margin:auto;
  padding:0%;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius:5%;
}

btn-bot {
  position: absolute;
  bottom: 0;
}

.fa {
  position:relative;
  color:#8c8c8c;
}

.fa-chevron-circle-left {
  position:absolute;
  bottom:20px;
  left:20px;
}
