<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" type="text/css" rel="stylesheet">

    <style>
      * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
}

a {
  text-decoration: none;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}


h1 {
    font-family:"Raleway";
    font-size:24px;
    font-weight:normal;
    margin-top:10%;
    margin-bottom:15%;
    overflow:visible;
    padding:0px;
    text-align:center;
  }

.form-wrap {
    background-color:rgb(212,253,255); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-family:"Catamaran";
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}
